:root {
  --dimension: min(100vw, 100vh);
  --tile: calc(min(100vw, 100vh) / 8);
  --font-size: 1.4vh;
  --line-gap: 1.6vh;

  --d-0_5: calc(var(--dimension) * 0.005);
  --d-0_8: calc(var(--dimension) * 0.008);
  --d-1: calc(var(--dimension) * 0.01);
  --d-2: calc(var(--dimension) * 0.02);
  --d-2_5: calc(var(--dimension) * 0.025);
  --d-2_7: calc(var(--dimension) * 0.027);
  --d-10: calc(var(--dimension) * 0.1);
  --d-12: calc(var(--dimension) * 0.12);
  --d-76: calc(var(--dimension) * 0.76);
}

body {
  margin: 0;
  background: rgb(10, 10, 10);
  overflow: hidden;
  color: white;
}

#opepen {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: var(--d-10) 1fr var(--d-10);
  padding: var(--d-12);
  width: var(--d-76);
  height: var(--d-76);
  background: black;
}

svg {
  height: var(--font-size);
}

section,
header {
  display: grid;
  gap: var(--d-1);
}

header {
  height: calc(var(--font-size)*3 + var(--line-gap)*2);
}
.opepen-edition {
  height: calc(var(--font-size)*3 + var(--line-gap)*2);
  justify-self: flex-end;
}

.intro,
.progress header,
.progress {
  grid-column: 1/-1;
  display: grid;
  gap: var(--line-gap);
  align-self: center;
}

.intro {
  height: calc(var(--font-size)*2 + var(--line-gap));
}

.progress {
  display: grid;
  gap: var(--d-2);
  align-self: flex-end;

  & > header {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: var(--font-size);

    & > svg:last-child {
      justify-self: flex-end;
      color: rgb(56, 56, 56);
    }
  }

  & > .bar {
    height: var(--d-0_5);
    background-color: rgb(80, 80, 80);
    position: relative;

    > * {
      height: var(--d-0_5);
      position: absolute;
    }

    & > *:first-child {
      background-color: #58E700;
    }

    & > *:last-child {
      background-color: #FB0F0F;
      right: 0;
    }
  }

  & > div:last-child {
    position: relative;
    width: var(--d-2_7);
    transform: translateX(-50%);
    margin-top: var(--d-0_5);
    padding-top: var(--d-2_5);
    display: flex;
    justify-content: center;

    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.51996 12.08L0.839964 9.28L9.55996 -4.93065e-07L12.12 -3.81163e-07L20.84 9.28L18.16 12.08L10.76 4.2C10.7066 4.30667 10.08 5.01333 8.87996 6.32C7.67996 7.65333 6.4933 8.94667 5.31996 10.2L3.51996 12.08Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      position: absolute;
      top: -0vh;
      left: var(--d-0_8);
      width: var(--d-1);
      height: 100%;
    }
  }
}

