node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
sets
!public/*

# Reveal
app/Services/Metadata/Reveal/__pycache__/
app/Services/Metadata/Reveal/data/*
!app/Services/Metadata/Reveal/data/001.json
app/Services/Metadata/Reveal/results/*
!app/Services/Metadata/Reveal/results/001.json
