<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.js" crossorigin="anonymous"></script>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      background: black;
    }
    canvas {
      display: block;
    }
  </style>
</head>

<body>
  <main></main>

  <script>
    {{{ code }}}
  </script>
</body>

</html>
