We are excited to share the latest update to the Opepen protocol (v3): Curate.

As a collector, you can now privately curate opepen by checking in and swiping one by one.

As a creator, in addition to set submissions, you can submit single Opepen for curation and get instant private feedback from collectors.

Since launching last week, we've recieved upward of 300,000 votes.

Start voting: https://opepen.art/curate

Thank you for your continued input and attention.

VV
